#
# @Author: chenqu
# @Date: 2018-07-19 16:39:00
# @Last Modified by:   chenqu
# @Last Modified time: 2018-07-19 16:39:00
#
root = true

[*]
charset = utf-8
# 定义换行符号
end_of_line = lf
# 文件以一个空白行结尾
insert_final_newline = true
# 会除去换行行首的任意空白字符
trim_trailing_whitespace = true
# 对于所有的JS文件，设置缩进
[*.{js.html}]
indent_style = tab
indent_size = 4
# json文件缩进设置为2
[*.{json,md}]
indent_style = space
indent_size = 2

